extends layout-admin.jade

block content

	.container.col-sm-offset-2.col-md-9.topInvitesContainertop
		.btn-group.btn-group-justified.btn-group-raised
			a#_card_.btn(href='javascript:void(0)') Помесячно
				span#_employee_Badge.badge
			a#_kvartalView_.btn(href='javascript:void(0)') Поквартально
				span#_customer_Badge.badge
		ul.lists
			.container#_card_List.col-md-12.row
		ul.lists
			.container#_kvartalView_List.col-md-12.row
	script(type='text/javascript' src='/js/cards/modules/createMonthHeaders.js').
	script(type='text/javascript' src='/js/cards/modules/createKvartHeaders.js').
	script(type='text/javascript' src='/js/cards/cardsGen.js').
	script(type='text/javascript' src='/js/cards/kvartGen.js').
	script(type='text/javascript' src='/js/cards/startPosition.js').
	script(type='text/javascript' src='/js/cards/tablist.js').

	#taskModal.modal.fade(tabindex='-1', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-body
					h2#taskNameModal
					p#rewardModal.reward
					p#longDescriptionModal.longDescription
					p#deadlineModal.deadline
				.modal-footer

	script(type='text/javascript').
		$.material.init();