extends layout.jade

block content
	form(method='post' action='/createInvite')
		.container#CardList.col-lg-7.col-lg-offset-3.col-md-offset-3.col-sm-offset-0.col-xs-offset-0
			h2 Create card
			fieldset
				.form-group
					input#invite.form-control(name='invite' type='text' placeholder='invite' required)
					button.btn.btn-primary(type='button' formnovalidate='') gen!
				.form-group
					label(for='customer') Customer
						input#customer.form-control(name='status' type='radio' placeholder='customer' required)
				.form-group
					label(for='employee') Employee
						input#employee.form-control(name='status' type='radio' placeholder='employee')
			.form-group
				button.btn.btn-primary(type='submit') Apply!